* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    background: url(../img/fakurian-design-GJKx5lhwU3M-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: calc(1em + 1vw);
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow: auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin: 5px 10px;
    width: auto;
    height: auto;
}

h2 {
    font-family:  'Montserrat', sans-serif;
    font-size: 1.5em;
    margin: 20px 10px;
    width: auto;
    height:auto;
}

p {
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 5px 25px;
}

.intro {
    width: 100%;
    height: auto;
    margin: auto;
    z-index: 1;
    text-align: center;
    overflow: auto;
    padding: 20px 10px;
    text-align: center;
}


.icon {
    height: 20vh;
    overflow: hidden;
}

.icon img {
    margin: auto;
    filter: drop-shadow(0 5px 5px rgb(66, 66, 66));
}

.content {
    background-color: white;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 60%;
    height: auto;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    border: 4px solid rgba(0, 0, 0, 0.301);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}


@media (orientation: portrait) {
    .content {
        width: 100%;
    }
  }

.content .links {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    overflow: auto;
    color: white;
    overflow: hidden;
}

.content .links a {
    display: block;
    width: 50%;
    height: auto;
    float: left;
    overflow: auto;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    overflow: hidden;
}

.content .links a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}