*, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    font-family:  'Montserrat', sans-serif;
    font-size: 5vw;
    margin: 5px 10px;
    width: auto;
    height:auto;
}

h2 {
    font-family:  'Montserrat', sans-serif;
    font-size: 3vw;
    margin: 20px 10px;
    width: auto;
    height:auto;
}

p {
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 5px 25px;
}

.background {
    max-width: 100%;
    height: 100%;
    background-image: url(../img/fakurian-design-GJKx5lhwU3M-unsplash.jpg);
    filter: blur(1px);
    -webkit-filter: blur(3px);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
}

/* Style the intro */
.intro {
    margin: auto;
    width: 100%;
    height: fit-content;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: center;
}



.intro img {
    width: 50%;
    max-width: 300px;
    height: 100%;
    margin-bottom: 10px;
    filter: drop-shadow(0 5px 5px rgb(66, 66, 66));
}

.content {
    background-color: white;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 60%;
    height: auto;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    border: 4px solid rgba(0, 0, 0, 0.301);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
    box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

/* On screens that are less than 700px wide */
@media screen and (max-width: 700px) {
    .content {
        width: 100%;
    }
}

.content .links {
    display: block;
    width: 100%;
    height: auto;
    float: left;
    overflow: auto;
    color: white;
    overflow: hidden;
}

.content .links a {
    display: block;
    width: 50%;
    height: auto;
    float: left;
    overflow: auto;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    overflow: hidden;
}

.content .links a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}