
.project_description {
    display: block;
    width: 100%;
    height: auto;
    overflow: auto;
}

.project_description h2 {
    text-align: left;
}
.project_description a {
    color: inherit;
}

.project_description .thumbnail {
    display: block;
    width: 50%;
    height: auto;
    float: left;
}

.project_description p {
    display: block;
    width: 50%;
    height: auto;
    float: left;
}