* {
    padding: 0;
    margin: 0;
}

html, body {
    min-height: 100vh;
    background: rgb(92, 92, 92);
    box-shadow: inset 0 0 4rem black;
}

footer {
    width: 100%;
}

.page-content {
    height: 100vh;
    overflow: auto;
}

.main-content {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    margin: auto;
}
